# First part is alphabetically-sorted A-Level codes (same as code from API, but with KS5_ prefix removed). These are concatenated and hashed with MD5. Second part is alphabetically-sorted GCSE codes (same as code from API, but with KS4_ prefix removed), concatenated with commas.
# GA_BUSGA_MATHGA_PHYSICS:APBUS,APDSCI,APELIT,APGEO,APGRA,APHIS,APRE,APSPAN
4c028f48291cbb3cba1ee542f90a8d92:APBUS,APDSCI,APELIT,APGEO,APGRA,APHIS,APRE,APSPAN
#GA_BUSGA_MATHGA_PHYSICS:APBUS,APDSCI,APELIT,APGEO,APGRA,APHIS,APRE,APSPAN
4c028f48291cbb3cba1ee542f90a8d92:APBUS,APDSCI,APELIT,APGEO,APGRA,APHIS,APRE,APSPAN
#GA_DT_PRODUCTIONGA_ELECTRONICSGA_PHYSICS:APART,APDSCI,APELIT,APFRE,APGEO,APMUS,APRE,APRES
1dd59843ffdb24cb870c0df0302a2757:APART,APDSCI,APELIT,APFRE,APGEO,APMUS,APRE,APRES
#GA_GOV_POLITICS:APDSCI,APELIT,APFRE,APGEO,APGER,APHIS,APRE
bf5d8f481762c687d2dbedc9b2eae7ae:APDSCI,APELIT,APFRE,APGEO,APGER,APHIS,APRE
#GA_BUSGA_ENG_LANGGA_SOC:APDRA,APDSCI,APELIT,APFRE,APSPAN
90533ddd4b3c37efa376e44213157f2a:APDRA,APDSCI,APELIT,APFRE,APSPAN
#GA_BIOLOGYGA_ECONGA_GEN_STUDGA_MATH:APDSCI,APELIT,APGEO,APGER,APIT,APPE,APRE
6996ff62c01a5e01ac5c294b6490b312:APDSCI,APELIT,APGEO,APGER,APIT,APPE,APRE
#GA_BIOLOGYGA_MATHGA_SPANISH:APBIO,APCHE,APELIT,APFRE,APGEO,APPE,APPHY,APSPAN
160a07e719ed3dec3c19627fd4d86d95:APBIO,APCHE,APELIT,APFRE,APGEO,APPE,APPHY,APSPAN
#GA_GEN_STUDGA_PSYCH_SOCGA_SOC:APART,APDRA,APDSCI,APELIT,APFOOD
65b985cfc091eaca075d8c8a4b91532d:APART,APDRA,APDSCI,APELIT,APFOOD
#GA_ENG_LANGGA_GEN_STUDGA_PSYCH_SOCGA_RE:APART,APBIO,APCHE,APELIT,APIT,APPHY,APRS
c1aa19c6969c273f7143a69f6c99f9e7:APART,APBIO,APCHE,APELIT,APIT,APPHY,APRS
#GA_DRAMAGA_MEDIA_FILM_TV:APDSCI,APELIT,APFRE,APHIS,APPE,APRS
1c83176f5d4a5dadc001801c5e16202a:APDSCI,APELIT,APFRE,APHIS,APPE,APRS
#GA_ENG_LANGGA_LAWGA_PSYCH_SOC:APDSCI,APELIT,APGRA,APPE,APRS
0f01506fd26dd19edda3da307b6234a8:APDSCI,APELIT,APGRA,APPE,APRS
#GA_BIOLOGYGA_PEGA_PSYCH_SOC:APDSCI,APELIT,APFRE,APHIS,APPE,APRE
e09db546a90e8b7436915bb37492e8f6:APDSCI,APELIT,APFRE,APHIS,APPE,APRE
#GA_PEGA_PSYCH_SOC:APELIT,APFRE,APGRA,APPE,APRS
a96020624dee84a51f464e16a2961a5c:APELIT,APFRE,APGRA,APPE,APRS
#GA_DRAMAGA_ENG_LITGA_PSYCH_SOC:APBUS,APDRA,APDSCI,APELIT,APFRE,APPE,APRS
e67a5c6be5d083433150718acfbd19a8:APBUS,APDRA,APDSCI,APELIT,APFRE,APPE,APRS
#GA_GERMANGA_MUSICGA_PSYCH_SOC:APDSCI,APELIT,APGER,APMUS,APRES,APRS
1e8f5ea643e4a4d1df6854635111443d:APDSCI,APELIT,APGER,APMUS,APRES,APRS
#GA_ADGA_DRAMAGA_FILM:APART,APDRA,APDSCI,APELIT,APGER
9f982b757a879e2d0cd67cd53b36ad8c:APART,APDRA,APDSCI,APELIT,APGER
#GA_BIOLOGYGA_ENG_LITGA_LOGIC_PHIL:APART,APDRA,APELIT,APFOOD,APFRE,APGEO,APPE,APRE
ea6b4cf97971b0ce0003167ae44e4c09:APART,APDRA,APELIT,APFOOD,APFRE,APGEO,APPE,APRE
#GA_ENG_LANGGA_REGA_SOC:APART,APDSCI,APDTT,APELIT,APGEO,APGER,APRE
8533dc80db209ac460d5aeea2e9f514c:APART,APDSCI,APDTT,APELIT,APGEO,APGER,APRE
#GA_CLASS_CIVGA_MEDIA_FILM_TVGA_MUSIC:APDSCI,APELIT,APFRE,APHIS,APMUS,APPE,APRE
5799283e92ace8a58225ef4b7a87e691:APDSCI,APELIT,APFRE,APHIS,APMUS,APPE,APRE
#GA_ENG_LITGA_HIST:APBUS,APDSCI,APELIT,APFRE,APHIS,APITSC,APRE
8d7482fab9f6f7ea05e80c26e62ea232:APBUS,APDSCI,APELIT,APFRE,APHIS,APITSC,APRE
#GA_ENG_LITGA_GEOG:APDSCI,APELIT,APFOOD,APGEO,APGER,APRE
aaf7fe02a89f0dfdec2dfd6b9ec4e2ab:APDSCI,APELIT,APFOOD,APGEO,APGER,APRE
#GA_BUSGA_ELECTRONICS:APDSCI,APGEO,APRE,APRES
0d134b92f330c5688f266b10bc510332:APDSCI,APGEO,APRE,APRES
#GA_FRENCHGA_GEN_STUDGA_GEOGGA_GERMAN:APART,APDSCI,APELIT,APFRE,APGEO,APGER
7cef221c0de29f66073e72fbb4861e21:APART,APDSCI,APELIT,APFRE,APGEO,APGER
#GA_BIOLOGYGA_HISTGA_PE:APDSCI,APELIT,APGRA,APHIS,APITSC,APPE,APRE,APSPAN
2d7be3d8e1e10721381266f3d7234ad3:APDSCI,APELIT,APGRA,APHIS,APITSC,APPE,APRE,APSPAN
#GA_DRAMAGA_ENG_LITGA_RE:APBUS,APDRA,APDSCI,APELIT,APFRE,APHIS,APRE
c90612b7aa901f7f64893cd732636dc8:APBUS,APDRA,APDSCI,APELIT,APFRE,APHIS,APRE
#GA_ENG_LITGA_HISTGA_SOC:APBUS,APDSCI,APELIT,APGEO,APGER,APGRA,APHIS
4c7bdda0c2083acde0e0a9f559d6c7a0:APBUS,APDSCI,APELIT,APGEO,APGER,APGRA,APHIS
#GA_DRAMAGA_ENG_LITGA_GEN_STUDGA_HIST:APART,APDRA,APDSCI,APELIT,APGER,APHIS,APITSC
35e967b29936157a8bc49739b4f9af27:APART,APDRA,APDSCI,APELIT,APGER,APHIS,APITSC
#GA_DRAMAGA_ENG_LITGA_FILM:APDRA,APDSCI,APELIT,APFRE,APMUS,APRE,APRES
a47fe0c452eaac65eceb21c59f50f2b4:APDRA,APDSCI,APELIT,APFRE,APMUS,APRE,APRES
#GA_BUS_ECONGA_GEN_STUDGA_MUSIC_TECHGA_PSYCH_SOC:APBUS,APDSCI,APELIT,APFRE,APRES,APRS,APSPAN
026723bab68b13d6ae3ce1aa888c15cf:APBUS,APDSCI,APELIT,APFRE,APRES,APRS,APSPAN
#GA_FINE_ARTGA_PSYCH_SOCGA_RE:APART,APDSCI,APELIT,APFRE,APITSC,APRS
d7da5de70c24b69b2e51ee7cd97d871a:APART,APDSCI,APELIT,APFRE,APITSC,APRS
#GA_DRAMAGA_ENGGA_PSYCH_SCI:APART,APDRA,APDSCI,APHIS,APPE
90c140e1b6f5735e2d03842dd52abca8:APART,APDRA,APDSCI,APHIS,APPE
#GA_ANC_HISTGA_BIOLOGYGA_COMP_STU:APDSCI,APELIT,APGER,APHIS
685de71e258a757483e9502fd54b23cc:APDSCI,APELIT,APGER,APHIS
#GA_DRAMAGA_GEN_STUDGA_LAWGA_PSYCH_SOC:APDRA,APELIT,APFRE,APGEO
de6dc35fea95bbcdf186aeacef8bd28d:APDRA,APELIT,APFRE,APGEO
#GA_ENG_LITGA_HISTGA_RE:APART,APBIO,APCHE,APELIT,APFRE,APGEO,APHIS,APPHY,APRE
67c422a4358c0c6ac491ed454097f083:APART,APBIO,APCHE,APELIT,APFRE,APGEO,APHIS,APPHY,APRE
#GA_MEDIA_FILM_TVGA_PSYCH_SOC:APDRA,APDSCI,APELIT,APGER,APHIS,APRES
e2c63ab2a549bad560ab41224539e485:APDRA,APDSCI,APELIT,APGER,APHIS,APRES
#GA_BIOLOGY_HUMANGA_ENG_LITGA_HIST:APART,APDSCI,APDTT,APELIT,APFRE,APHIS,APRS
134607bc5616a8a04eb507c6fcd246a1:APART,APDSCI,APDTT,APELIT,APFRE,APHIS,APRS
#GA_GEOGGA_IT:APELIT,APFOOD,APGEO,APRE
417f6d6e30a7a99c818244dcb113f106:APELIT,APFOOD,APGEO,APRE
#GA_BIOLOGYGA_CHEMISTRYGA_GEN_STUDGA_MATH:APDSCI,APELIT,APFRE,APHIS,APPE
8a16711f167269734fb429f77b48e6b0:APDSCI,APELIT,APFRE,APHIS,APPE
#GA_PEGA_PSYCH_SOC:APDRA,APELIT,APITSC,APPE,APRS
a96020624dee84a51f464e16a2961a5c:APDRA,APELIT,APITSC,APPE,APRS
